<% provide(:title, "Home") %>
<h1 class="home">Welcome to Homeless Cop</h1>
<div id="homeBox"></div>



<div id="art-gallery" style="display: block;">

      <a href="#" id="slideShow" style="display :block;">Slideshow</a> 
      <a href="#" id="slideShowStop" style="display :none;" >Pause Slideshow</a> <br />

      <a href="#" id="slideBack"> < Back </a> 
      <a href="#" id="slideFront"> Front > </a> 

      <div id="slider" class="hc-slider-wrapper">
        <ul class="slides">

      <% @paintings.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <%= image_tag("art/#{painting.painting_path}") %>
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>  

      <% @paintings2.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <%= image_tag("art/#{painting.painting_path}") %>
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>   

        </ul>
      </div>  

    </div>





    <div style="clear: both;"/></div>

    <div id="homeBoxes" class="row">
        <div class="col-md-8">

          <%= image_tag("skate.jpg")%>
          <h2>Roll With Me <br/>
            by Verbal Kent and !llmind <br/>
            2016
          </h2>
          <p>I was lucky enough to make a music video for one of my favorite people, Verbal Kent. </p>
          <p><strong><a href="http://homelesscop.com/video">Check it out!!! </a></strong></p>
        </div>

        <div class="col-md-4">
          <a href="http://homelesscop.com/video" class="homeBoxImg">
            <%= image_tag("roll.jpg") %>
          </a>
        </div>
      </div>

