<% provide(:title, "Home") %>
<h1 class="home">Welcome to Homeless Cop</h1>
<div id="homeBox"></div>



<div id="art-gallery" style="display: block;">

      <a href="#" id="slideShow" style="display :block;">Slideshow</a> 
      <a href="#" id="slideShowStop" style="display :none;" >Pause Slideshow</a> <br />

      <a href="#" id="slideBack"> < Back </a> 
      <a href="#" id="slideFront"> Front > </a> 

      <div id="slider" class="hc-slider-wrapper">
        <ul class="slides">

      <% @paintings.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>  

      <% @paintings2.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>   

        </ul>
      </div>  

    </div>





    <hr style="clear: both;"/>

    <div id="homeBoxes" class="row">
        <div class="col-md-8">

          <%= image_tag("skate.jpg") %>
          <h2>Roll With Me <br/>
            by Verbal Kent and Illmind <br/>
            2016
          </h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>

        <div class="col-md-4">
          <a href="https://player.vimeo.com/video/53137843" target="_blank">
            <%= image_tag("roll.jpg") %>
          </a>
        </div>
      </div>

