<% provide(:title, "Home") %>
<h1 class="home">Welcome to Homeless Cop</h1>

<script type="text/javascript">
  startSlider();
</script>

<div id="art-gallery" style="display: block;">

      <a href="#" id="slideShow" style="display :block;">Slideshow</a> 
      <a href="#" id="slideShowStop" style="display :none;" >Pause Slideshow</a> <br />

      <a href="#" id="slideBack"> < Back </a> 
      <a href="#" id="slideFront"> Front > </a> 

      <div id="slider" class="hc-slider-wrapper">
        <ul class="slides">

      <% @paintings.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>  

      <% @paintings2.each do |painting| %>
          <li class="slide">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </li>
      
      <% end %>   

        </ul>
      </div>  

    </div>





    <hr style="clear: both;"/>

