<% provide(:title, "Music") %>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [	
		{
			title: "Bear O Smith",
			mp3: "<%= audio_path('BEAR-O-SMITH.mp3') %>"
		},
		{
			title: "Miley Virus",
			mp3: "<%= audio_path('MILEY-VIRUS.mp3') %>"
		},	
		{
			title: "Sir Francis Dragons",
			mp3: "<%= audio_path('Sir-Francis-Drake') %>"
		},					
		{
			title: "Game of Drones",
			mp3: "<%= audio_path('Game-of-Drones.mp3') %>"
		},
		{
			title: "My Morning 8ball Jacket",
			mp3: "<%= audio_path('MY-MORNING-8-BALL-JACKET') %>"
		},		
		{
			title: "Doors of Erection",
			mp3: "<%= audio_path('DOORS-OF-ERECTION') %>"
		},
		{
			title: "Welcome to the Jingle",
			mp3: "<%= audio_path('WELCOME-TO-THE-JINGLE.mp3') %>"
		},		
		{
			title: "Imagine all the Dragons",
			mp3: "<%= audio_path('Imagine-All-the-Dragons') %>"
		},
		{
			title: "Fuck Mountain",
			mp3: "<%= audio_path('FUCK-MOUNTAIN') %>"
		}

	], {
		swfPath: "../../dist/jplayer",
		supplied: "oga, mp3",
		wmode: "window",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true
	});
});
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_2",
		cssSelectorAncestor: "#jp_container_2"
	}, [	
		{
			title: "Kenny Powers",
			mp3: "<%= audio_path('2-Kenny-Powers') %>"
		},
		{
			title: "Die Alone in Your Arms",
			mp3: "<%= audio_path('10-Die-Alone-In-Your-Arms') %>"
		},	
		{
			title: "The Dick Brown Show",
			mp3: "<%= audio_path('07-The-Dick-Brown-Show') %>"
		},					
		{
			title: "Ghetto Blaster Master",
			mp3: "<%= audio_path('01-Ghetto-Blaster-Master') %>"
		},
		{
			title: "Fat Baby Coffin",
			mp3: "<%= audio_path('08-Fat-Baby-Coffin') %>"
		},		
		{
			title: "The Wind Beneath My Thing",
			mp3: "<%= audio_path('05-The-Wind-Beneath-My-Thing') %>"
		},
		{
			title: "Victory or Death",
			mp3: "<%= audio_path('11-Victory-Or-Death') %>"
		},		
		{
			title: "Sluts On The Battlefield",
			mp3: "<%= audio_path('09-Sluts-On-The-Battlefield') %>"
		},
		{
			title: "Captain Buzzkill",
			mp3: "<%= audio_path('06-Captain-Buzzkill') %>"
		},
		{
			title: "Don't Ever Be Yourself",
			mp3: "<%= audio_path('04-Dont-Ever-Be-Yourself') %>"
		},
		{
			title: "Stone Temple Vaginas",
			mp3: "<%= audio_path('03-Stone-Temple-Vaginas') %>"
		}	

	], {
		swfPath: "../../dist/jplayer",
		supplied: "oga, mp3",
		wmode: "window",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true
	});
});
//]]>
</script>




<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<%= image_tag("ebola.jpg", alt: "Ebola Borealis", id: "music-artwork") %>

<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">

	<h1>Chemical Bomb Police</h1>
	<h2>2016</h2>
	<div class="jp-type-playlist">
		<div class="jp-gui jp-interface">
			<div class="jp-controls">
				<button class="jp-previous" role="button" tabindex="0">previous</button>
				<button class="jp-play" role="button" tabindex="0">play</button>
				<button class="jp-next" role="button" tabindex="0">next</button>
				<button class="jp-stop" role="button" tabindex="0">stop</button>
			</div>
			<div class="jp-progress">
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-volume-controls">
				<button class="jp-mute" role="button" tabindex="0">mute</button>
				<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			<div class="jp-time-holder">
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
			</div>

		</div>
		<div class="jp-playlist">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>


<hr style="clear: both;"/>


<div id="jquery_jplayer_2" class="jp-jplayer"></div>
<%= image_tag("cj.png", alt: "Classy Janitor", id: "music-artwork") %>

<div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
<h1>Classy Janitor</h1>
<h2>2010</h2>
<a href="/classy_janitor.zip" id="dl-link"></a>

	<div class="jp-type-playlist">
		<div class="jp-gui jp-interface">
			<div class="jp-controls">
				<button class="jp-previous" role="button" tabindex="0">previous</button>
				<button class="jp-play" role="button" tabindex="0">play</button>
				<button class="jp-next" role="button" tabindex="0">next</button>
				<button class="jp-stop" role="button" tabindex="0">stop</button>
			</div>
			<div class="jp-progress">
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-volume-controls">
				<button class="jp-mute" role="button" tabindex="0">mute</button>
				<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			<div class="jp-time-holder">
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
			</div>

		</div>
		<div class="jp-playlist">
			<ul>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
</div>








