<% provide(:title, "Video") %>
<h1>Videos</h1>

<script type="text/javascript">
  $( "#Videos-nav" ).css( "font-weight", "bold" );
</script>

<div id="exampleSliderHolder">
	<ul id="exampleSlider">

	    <li>
			<iframe src="https://player.vimeo.com/video/53137843" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/53137843">&quot;Roll With Me&#039; by Verbal Kent + !LLMIND, Video by Homeless Cop</a> from <a href="https://vimeo.com/homelesscop">Homeless Cop</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	    </li>

	    <li>
			<iframe src="https://player.vimeo.com/video/49410939" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/49410939">BEST FRIENDZ Episode 1. Bad Dreams Come True</a> from <a href="https://vimeo.com/homelesscop">Homeless Cop</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	    </li>

	    <li>
			<iframe src="https://player.vimeo.com/video/49356209" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p><a href="https://vimeo.com/4935620">BEST FRIENDZ Episode 1. Bad Dreams Come True</a> from <a href="https://vimeo.com/homelesscop">Homeless Cop</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	    </li>

	</ul>
</div>

<hr style="clear: both;"/>



<ul id="videoListing">

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Porn and Chicken</div>
			<%= image_tag("bumps/pnccc.jpg", alt: "PNC") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/49276822" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">BEST FRIENDZ Episode 1. Bad Dreams Come True</div>
			<%= image_tag("bumps/Trailer_02.png", alt: "BEST FRIENDZ Episode 1. Bad Dreams Come True") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/49410939" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">BEST FRIENDZ Episode 2. Vegas Boner</div>
			<%= image_tag("bumps/Trailer_02.png", alt: "BEST FRIENDZ Episode 2. Vegas Boner ") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/49356209" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<hr style="clear: both;"/>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 01</div>
			<%= image_tag("bumps/Bump_01.jpg", alt: "Bump 1") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17121021" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 02</div>
			<%= image_tag("bumps/Bump_02.jpg", alt: "Bump 2") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17120919" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 03</div>
			<%= image_tag("bumps/Bump_03.jpg", alt: "Bump 3") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17120986" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 04</div>
			<%= image_tag("bumps/Bump_04.jpg", alt: "Bump 4") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17121159" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>	

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 05</div>
			<%= image_tag("bumps/Bump_05.jpg", alt: "Bump 5") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17330908" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 06</div>
			<%= image_tag("bumps/Bump_06.jpg", alt: "Bump 6") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17332171" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>	

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 07</div>
			<%= image_tag("bumps/Bump_07.jpg", alt: "Bump 7") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17420952" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 08</div>
			<%= image_tag("bumps/Bump_08.jpg", alt: "Bump 8") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17421058" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 09</div>
			<%= image_tag("bumps/Bump_09.jpg", alt: "Bump 9") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17421157" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 10</div>
			<%= image_tag("bumps/Bump_10.jpg", alt: "Bump 10") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17421404" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>

	<li>
		<a href="#" class="contact">
			<div class="videoTitle">Adult Swim 11</div>
			<%= image_tag("bumps/Bump_11.jpg", alt: "Bump 11") %>
			<div class="messagepop pop">
				<div class="close2" href="/">Cancel</div>
				<iframe src="https://player.vimeo.com/video/17421596" width="800" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</a>
	</li>		






</ul>

<hr style="clear: both;"/>

<script type="text/javascript">

function deselect(e) {
  $('.pop').slideFadeToggle(function() {
    e.removeClass('selected');
  });    
}

$(function() {
  $('.contact').on('click', function() {
    if($(this).hasClass('selected')) {
      deselect($(this));               
    } else {
      $('.pop').hide();
      $(this).addClass('selected');
      $( this ).find('.pop').slideFadeToggle();
      //$('.pop').slideFadeToggle();
    }
    return false;
  });

  $('.close2').on('click', function() {
  	$('.pop').hide();
    //deselect($('.contact'));
    return false;
  });
});

$.fn.slideFadeToggle = function(easing, callback) {
  return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
};

$( ".contact" ).hover(
  function() {
    $( this ).find('.videoTitle').fadeIn( 500 );
  }, function() {
    $( this ).find('.videoTitle').fadeOut( 250 );
  }
);







$(function () {
    
    /* SET PARAMETERS */
    var change_img_time 	= 60000;	
    var transition_speed	= 300;

    // OPTIONS: 'rand', 'slideLeft', 'slideRight', 'fadeIn', 'bigEntrance', 'pullUp', 'pullDown', 'stretchLeft', 'stretchRight'
    var fxArr       = ['slideLeft', 'slideRight', 'fadeIn', 'bigEntrance', 'pullUp', 'pullDown', 'stretchLeft', 'stretchRight'];
    
    
    var specialfx           = 'fadeIn';
    //var specialfx           = 'rand';
    
    var simple_slideshow	= $("#exampleSlider"),
        listItems 			= simple_slideshow.children('li'),
        listLen				= listItems.length,
        i 					= 0,
		
        changeList = function () {
			listItems.eq(i).fadeOut(transition_speed, function () {
				i += 1;
				if (i === listLen) {
					i = 0;
				}
				
				if(specialfx == 'rand') {
				   randfx = fxArr[Math.floor(Math.random() * fxArr.length)]; specialfx = randfx;
				}		
				
				listItems.eq(i).fadeIn(transition_speed).addClass(specialfx);
			});

        };
		
    listItems.not(':first').hide();
    setInterval(changeList, change_img_time);
	
});

</script>