<% provide(:title, 'Paintings') %>

<h1>Paintings</h1>

  <div id="art-index" class="container">
    <div class="top">
      <a id="close">Gallery</a>
    </div>   

    <ul class="paintingsListing">
      <% @number = 0 %>
      <% @paintings.each do |painting| %>
      
          <li>        
            <a id="xtrigger" class="xtrig" rel="coda-slider-1" href="#<%= @number += 1 %>">
              <img src="<%= painting.image.url(:small) %>">
            </a>        
            <br />
            <%= link_to painting.title, painting_path(painting), 
            class: 'painting_title', 
            id: "painting_#{painting.id}" %> |
            <i><%= painting.body %></i>
            <span class="cop-order-info"><%= painting.ordering %></span>
            <br />
          </li>
      
      <% end %>
    </ul>

    <hr style="clear: both;"/>

    <h1>Comissions</h1>

    <ul class="paintingsListing">
      <% @numberNew = @number %>
      <% @paintings2.each do |painting| %>
      
          <li>        
            <a class="xtrig" rel="coda-slider-1" href="#<%= @numberNew += 1 %>">
              <img src="<%= painting.image.url(:small) %>">
            </a>        
            <br />
            <%= link_to painting.title, painting_path(painting), 
            class: 'painting_title', 
            id: "painting_#{painting.id}" %> |
            <i><%= painting.body %></i>
            <span class="cop-order-info"><%= painting.ordering %></span>
            <br />
            <%= painting.painting_featured %>
          </li>
      
      <% end %>
    </ul>

    <hr style="clear: both;"/>

    <p>
    <%= link_to "Create a New Painting", new_painting_path, class: "new_painting" %>
    </p>

</div>

<div class="wrapper">
  <div class="container">

    <noscript>
      <div>
            <p>Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
            <ol>
                <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
                <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
            </ol>
        </div>
    </noscript>






    <div id="art-gallery">
      <a id="slider-close" >Art Index</a>
      <div id="slider" class="coda-slider-wrapper">
        <div class="coda-slider preload" id="coda-slider-1">

      <% @paintingsFull.each do |painting| %>
      
          <div class="panel">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>
           
            </div>
          </div>
      
      <% end %>

      <% @paintingsFullNon.each do |painting| %>
      
          <div class="panel">
            <div class="panel-wrapper">            
              <img src="<%= painting.image.url(:large) %>">
              <h2 id="title"><strong><%= painting.title %></strong> <%= painting.body %></h2>   
            </div>
          </div>
      
      <% end %>      

        </div>  
      </div>
    </div>

  </div>
</div>

