<% provide(:title, 'Paintings') %>

<h1>Paintings</h1>


<ul class="paintings">
  <% @paintings.each do |painting| %>
  
      <li>        
        <a href="<%= painting_path(painting) %>">
          <img src="<%= painting.image.url(:small) %>">
        </a>        
        <br />
        <%= link_to painting.title, painting_path(painting), 
        class: 'painting_title', 
        id: "painting_#{painting.id}" %> |
        <i><%= painting.body %></i>
        <span class="cop-order-info"><%= painting.ordering %></span>
        <br />
      </li>
  
  <% end %>
</ul>

<hr style="clear: both;"/>

<h1>Comissions</h1>

<ul class="paintings">
  <% @paintings2.each do |painting| %>
  
      <li>        
        <a href="<%= painting_path(painting) %>">
          <img src="<%= painting.image.url(:small) %>">
        </a>        
        <br />
        <%= link_to painting.title, painting_path(painting), 
        class: 'painting_title', 
        id: "painting_#{painting.id}" %> |
        <i><%= painting.body %></i>
        <span class="cop-order-info"><%= painting.ordering %></span>
        <br />
        <%= painting.painting_featured %>
      </li>
  
  <% end %>
</ul>

<hr style="clear: both;"/>

<p>
<%= link_to "Create a New Painting", new_painting_path, class: "new_painting" %>
</p>