<% provide(:title, 'Tag') %>
<h1>Paintings Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.paintings.each do |painting| %>
    <li><%= link_to painting.title, painting_path(painting) %></li>
  <% end %>
</ul>

<%= link_to "<< Back to Tags List", tags_path %> | 

<% if logged_in? %>
<%= link_to "Delete This Tag", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
<% end %>
<br />

<%= link_to "<< Back to Paintings List", paintings_path %> 