<header id="cop-navbar" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("hc-logo.png", alt: "Homeless Cop Logo"), root_path, id: "logo" %>


   
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Paintings", paintings_path, id: "Paintings-nav" %></li>
        <li><%= link_to "Illustrations", illustrations_path, id: "Illustrations-nav" %></li>
        <li><%= link_to "Videos", video_path, id: "Videos-nav" %></li>
        <!-- <li><%= link_to "Music", music_path, id: "Music-nav" %></li> -->
        <li><a id="aboutpull">About</a></li>
        <li id="Contact-nav"><%= link_to "Contact", :controller => :contacts, :action => :new %></li>  
        <li><a href="http://homelesscop.bigcartel.com/" alt="Homeless Cop Big Cartel" target="_blank">Store</a></li>


      </ul>
    </nav>


<ul id="networks">
  
  <li id="instigram">
    <a href="https://www.instagram.com/homelesscop/" alt="Homeless Cop Instigram" target="_blank"></a>
  </li>

  <li id="twitter">
    <a href="https://twitter.com/homelesscop" alt="Homeless Cop Twitter" target="_blank"></a>
  </li>

  <li id="facebook">
    <a href="https://www.facebook.com/homelesscop " alt="Homeless Cop Facebook" target="_blank"></a>
  </li>

</ul>


  </div>

</header>